.containers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.name {
  text-transform: capitalize;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.item {
  padding: 0.5rem;
  align-content: center;
  display: flex;
  justify-content: center;
  color: #000;
}