.mapContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.city {
    cursor: pointer;
}

.current {
    color: red;
}

.country {
    display: flex;
    flex-wrap: wrap;
}

.list {
    margin-block-start: 0 !important;
    padding-inline-start: 0 !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}