body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hueButton {
	background-color: #008CBA;
	height: 150px;
	width: 100%;
	border-radius: 30px;
	font-size: 32px;
}