body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 250px;
}

a {
  color: #00B7FF;
}

.hueButton {
	background-color: #d32f2f;
	height: 150px;
	width: 100%;
	border-radius: 50px;
	border-color: #1b1b1b;
	font-size: 32px;
	color: white;
	margin:5px;
}
.refreshBtn {
	align-self: right;
}

.hidden {
	display: none;
}

.warning {
	color: #9a0007;
}