<script src='/javascripts/hueController.js'></script>
<center>
	<h1 style="font-size: 50px; margin-bottom: 20px;">Hue</h1>
	<p id="hueWarning" class="warning hidden">Hue control disabled from 12am-8am</p>
</center>
<hr>
<div class="row">
	<div class="col-lg-3 col-sm-0">
	</div>
	<div class="col-lg-3 col-sm-6">
		<center><button class="hueButton" value="study" id="studyMode">Study</button></center>
	</div>
	<div class="col-lg-3 col-sm-6">
		<center><button class="hueButton" value="siren" id="sirenMode">Siren</button></center>
	</div>
	<div class="col-lg-3 col-sm-0">
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-sm-0">
	</div>
	<div class="col-lg-3 col-sm-6">
		<center><button class="hueButton" value="disco" id="disco">Disco</button></center>
	</div>
	<div class="col-lg-3 col-sm-6">
		<center><button class="hueButton" value="reading" id="reading">Reading</button></center>
	</div>
	<div class="col-lg-3 col-sm-0">
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-sm-0">
	</div>
	<div class="col-lg-3 col-sm-6">
		<center><button class="hueButton" value="test" id="test">Test</button></center>
	</div>
	<div class="col-lg-3 col-sm-6">
		<center><button class="hueButton" value="hueOff" id="hueOff">Off</button></center>
	</div>
	<div class="col-lg-3 col-sm-0">
	</div>
</div>