.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #0277bd;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #004c8c;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px dashed #fff;
  margin-bottom: 1rem;
}

.container {
  width: 20rem;
  padding: 1rem;
  border: 2px solid #fff;
  display: flex;
  background-color: #58a5f0;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}

.containerTitle {
  text-transform: capitalize;
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px dashed #fff;
}

.clickable:hover {
  border: 2px solid #004c8c;
  cursor: pointer;
}

