.weatherCategories {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.temperature {
  text-align: center;
  font-size: 1.5rem;
}

.tempContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}